body {
  height: 4761px;
  background-color: rgb(224, 234, 242);
  font-family: "Quicksand", sans-serif;
  position: relative;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 94px;
  padding: 60px;
}
.header .header__btn {
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}
.header .header__btn:hover {
  opacity: 0.5;
}

.first-slide {
  display: flex;
  flex-direction: row;
}
.first-slide .left-side {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: absolute;
  left: 70px;
  top: 215px;
}
.first-slide .left-side .left__top {
  font-size: 100px;
  font-weight: 700;
}
.first-slide .left-side .left__bot {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}
.first-slide .right-side {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: absolute;
  right: 70px;
  top: 215px;
  align-items: center;
}
.first-slide .right-side .right__calendar {
  height: 376px;
  width: 484px;
  right: 76px;
  top: 240px;
  border: none;
  border-radius: 38px;
  background-color: white;
  box-shadow: 20px -2px 23px rgba(105, 106, 106, 0.1), -2px -2px 10px rgba(255, 255, 255, 0.6), 2px -2px 10px rgba(127, 127, 127, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(127, 127, 127, 0.03);
}
.first-slide .right-side .right__calendar .right__calendar-top {
  display: flex;
  flex-direction: row;
  position: relative;
}
.first-slide .right-side .right__calendar .right__calendar-top .right__calendar-monthes {
  display: flex;
  flex-direction: row;
  gap: 86px;
  align-items: center;
  position: absolute;
  top: 37px;
  left: 69px;
  right: 68px;
}
.first-slide .right-side .right__calendar .right__calendar-top .right__calendar-monthes .right__calendar-month {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.first-slide .right-side .right__calendar .right__calendar-top .right__calendar-monthes .right__calendar-month:hover {
  opacity: 0.5;
}
.first-slide .right-side .right__calendar .right__calendar-top .right__calendar-monthes .right__calendar-June {
  font-size: 30px;
  font-weight: 700;
}
.first-slide .right-side .right__calendar .right__calendar-top .right__calendar-monthes .right__calendar-June:hover {
  opacity: 1;
}
.first-slide .right-side .right__calendar .right__calendar-bot {
  display: flex;
  gap: 29px;
  flex-direction: column;
}
.first-slide .right-side .right__calendar .right__calendar-bot .right__calendar-str {
  display: flex;
  flex-direction: row;
  gap: 39px;
}
.first-slide .right-side .right__calendar .right__calendar-bot .right__calendar-str .right__calendar-num {
  font-size: 24px;
  font-weight: 500;
  color: rgb(128, 129, 130);
}
.first-slide .right-side .right__btn {
  height: 80px;
  width: 302px;
  left: 1053px;
  top: 676px;
  border-radius: 25px;
  border: none;
  background-color: rgb(254, 114, 33);
  color: white;
  font-weight: 700;
  font-size: 30px;
  font-family: "Quicksand";
}/*# sourceMappingURL=index.css.map */