.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    
    height: 57px;
    border-style: solid;
    border-bottom: rgb(222, 222, 222);
    border:none;

    margin-bottom: 20px;
    
}
    .header_left_side {
        display: flex;
        
        width: 200px;
        
        align-items: center;
    }

        .hamb-menu {
            height: 24px;
            width: 24px;
            
            margin-left: 24px;
            margin-right: 24px;
            }

            .yt-logo {
                height: 20px;
                width: 90px;
            }
        


    .header_center {
    display: flex;
    flex: 1;
    max-width: 470px;
    
    align-items: center;
    justify-content: start;
    
    margin-left: 60px;
    }
        .searchbar {
            height: 36px;
            width: 0;
            min-width: 0;

            flex: 1;

            color: rgb(204, 204, 204);

            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: 1px solid rgb(204, 204, 204);

            padding: 1px 2px 1px 12px;

            font-size: 16px;

            box-shadow: inset 1px 2px 3px rgb(238, 238, 238);
        }

        .search_button {
            display: flex;
            align-items: center;

            height: 40px;
            width: 64px;

            margin-right: 8px;

            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border: 1px solid rgb(204, 204, 204);
            border-left: none;

            background-color: rgb(247, 247, 247);

        }

        .header_search_icon {
            width: 24px;
            height: 24px;

            margin-left: 14px;
        }

        .mic_button {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            border: none;
            align-items: center;
            background-color: rgb(248, 248, 248);
        }

        .header_mic_icon {
            height: 24px;
            margin-top: 3px;
        }

    .header_right_side {
        display: flex;
        align-items: center;
        justify-content:space-between;

        width: 182px;

        margin-left: 29px;
        margin-right: 24px;
    }
        .upload {
            height: 24px;
            width: 24px;
        }
        .apps {
            height: 24px;
            width: 24px;
        }
        .notifications {
            height: 24px;
            width: 24px;
        }
        .channel {
            height: 32px;
            width: 32px;
        }
