@import "../variables/variables.scss";

.testimonials {
    height: 676.89px;
    position: relative;
    background-color: $blue-color;
    margin: 0 -8px 0 -8px;
}

.testimonals__title {
    height: 98px;
    width: 1312px;
    position: absolute;
    top: 112px;
    left: 64px;
    display: flex;
    flex-direction: column;
    .testimonals__feedback {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .testimonials__customer {
        position: absolute;
        left: 0;
        bottom: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
    }
}

.testimonials__cards {
    gap: 32px;
    position: absolute;
    bottom: 112px;
    left: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card {
        position: relative;
        height: 275px;
        width: 416px;
        border: 2px solid $green-color;
        border-radius: 6px;
        cursor: pointer;
        .testimonials__stars {
            position: absolute;
            top: 32px;
            left: 32px;
            .testimonials__stars-img {
                height: 18.89px;
                width: 116px;
            }
        }
        .testimonials__description {
            font-size: 16px;
            position: absolute;
            left: 32px;
            top: 83px;
        }
        .testimonials__autor {
            position: absolute;
            left: 32px;
            bottom: 32px;
            display: flex;
            flex-direction: row;
            .testimonials__img {
                height: 56px;
                width: 56px;
            }
            .testimonials__autor-description {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
                vertical-align: middle;
                line-height: 28px;
                .testimonials__name {
                    font-weight: 600;
                    font-size: 16px;
                }
                .testimonials__company {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}