.header {
    z-index: 1000;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dedede;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    background-color: white;
    opacity: 0.99;
}

.header_left_side {
    display: flex;
    width: 200px;
    align-items: center;
}

    .hamb-menu {
        height: 24px;
        width: 24px;
        margin: 0 24px 0 24px;
        cursor: pointer;
        }

    .yt-logo {
        height: 20px;
        width: 90px;
        cursor: pointer;
    }

    .logo-PL-div {
        position: relative; 
    }
    .PL_logo-div {
        position: absolute;
        top: -10px;
        right: -21px;
        font-size: 12px;
        color: rgb(141, 141, 141);
    }



.header_center {
display: flex;
flex: 1;
max-width: 470px;
align-items: center;
justify-content: start;
margin-left: 60px;
}
    .searchbar {
        height: 36px;
        width: 0;
        min-width: 0;
        flex: 1;
        color: rgb(0, 0, 0);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid rgb(192, 192, 192);
        padding: 1px 2px 1px 12px;
        font-size: 16px;
        box-shadow: inset 0px 0px 3px rgb(238, 238, 238);
        position:relative;
    }

    .search_button {
        display: flex;
        align-items: center;
        height: 40px;
        width: 64px;
        margin-right: 8px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 1px solid rgb(204, 204, 204);
        border-left: none;
        background-color: rgb(247, 247, 247);
        cursor: pointer;
        position:relative;
    }

        .header_search_icon {
            width: 24px;
            height: 24px;
            margin-left: 13px;
        }

        .search_button .tooltip {
            position: absolute;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            bottom:-50px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            transition: opacity 0.10s;
            pointer-events:none;
        }

    .mic_button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        align-items: center;
        background-color: rgb(248, 248, 248);
        cursor: pointer;
        flex-direction: column;
        display: flex;
        vertical-align: middle;
        align-items: middle;
    }

        .header_mic_icon {
            height: 24px;
            margin-top: 3px;
        }

        .mic_button .tooltip {
            position: absolute;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            bottom:-40px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events:none;
        }

.header_right_side {
    display: flex;
    align-items: center;
    justify-content:space-between;
    vertical-align: middle;
    width: 145px;
    margin: 0px 24px 0px 29px;
}

    .upload-div{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

        .upload-div .tooltip {
            position: absolute;
            bottom:-50px;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events: none;
        }


    .notifications-div {
        position:relative;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

        .notifications-div .tooltip {
            position: absolute;
            bottom:-50px;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events: none;
        }

        .red {
            position:absolute;
            background-color: rgb(204, 0, 0);
            top: -3px;
            right: -7px;
            color: white;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            padding: 2px 5px;
            border-radius: 10px;
        }

    .channel {
        height: 32px;
        width: 32px;
        cursor: pointer;
    }

.upload-icon,
.notifications-icon,
.apps_icon {
    height: 24px;
    width: 24px;
}

.search_button:hover .tooltip,
.notifications-div:hover .tooltip,
.upload-div:hover .tooltip,
.mic_button:hover .tooltip {
    opacity: 1;
}