.body_vid {
    display: inline-block;
    position: relative;
}



    .main_vid_main {
        display: flex;
        flex-direction: column;
        margin: 83px 0px 0px 50px;
        width: 972.8px;
        
    }
    
        .main_vid {
            height: 547.2px;
            width: 100%;
            background-color: black;
        }

        .vid_more {
            flex-direction: row;
            display: flex;
        }
        
            .hashtags {
                color: rgb(6, 95, 212);
                font-size: 12px;
                margin: 15px 0 5px 0;
            }

            .vid_name {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            .vid_stats {
                font-size: 14px;
                color: black;
                font-weight: 500;
                margin-bottom: 10px;
                height: 40px;
                width: 630px;
            }

                .vid_description {
                    color: rgb(96, 96, 96);
                    font-weight: 400;
                }

                .vid_description_more {
                    color: black;
                    padding: 0px 4px;
                    cursor: pointer;
                }



            .vid_autor_comments {
                flex-direction: row;
                display: flex;
            }

                .vid_autor {
                    border: 1px solid rgb(192, 192, 192);
                    border-radius: 4px;
                    flex-direction: row;
                    display: flex;
                    height: 52px;
                    margin: 12px 12px 0px 0px;
                    justify-content: space-between;
                    align-items: center;
                    vertical-align: middle;
                    flex: 1;
                    position: relative;
                }
                    .vid_autor_pic_div {
                        display: flex;
                    }

                        .vid_autor_pic {
                            height: 36px;
                            width: 36px;
                            margin: 0 14px 0 14px;
                        }

                        .vid_autor_name-subs {
                            flex-direction: column;
                            display: flex;
                            vertical-align: middle;
                            position: absolute;
                            left: 65px;
                        }

                        .vid_autor_name {
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .vid_subs_count {
                            font-size: 12px;
                            color: rgb(96, 96, 96);
                        }

                        .subscribe_button {
                            margin: 0 4px;
                            padding: 10px 16px;
                            background-color: rgb(204, 0, 0);
                            border: none;
                            color: white;
                            border-radius: 2px;
                            font-weight: 700;
                            margin-right: 8px;
                            cursor: pointer;
                        }

                .vid_comments {
                    border: 1px solid rgb(192, 192, 192);
                    border-radius: 4px;
                    flex-direction: row;
                    display: flex;
                    flex: 1;
                    height: 52px;
                    margin: 12px 12px 0px 0px;
                    justify-content: space-between;
                    align-items: center;
                    vertical-align: middle;
                }

                    .vid_comments_left {
                        margin: 0 14px 0 14px;
                    }

                        .vid_comments_word {
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .coms_count {
                            font-size: 12px;
                            color: rgb(96, 96, 96);
                        }
                    
                    .comments_right {
                        border-left: 1px solid rgb(192, 192, 192);
                        flex-direction: row;
                        display: flex;
                    }

                        .comments_right_img {
                            height: 20px;
                            width: 20px;
                            border-radius: 10px;
                            margin: -5px 10px 0 10px;
                        }

                        .vid_comment {
                            font-size: 12px;
                        }
    .side_vids_main {
        display: inline-block;
        position: absolute;
        width: 420px;
        margin: 83px 0px 0px 20px;
    }

        .side_top_all {
            width: 42px;
            height: 32px;
            margin: 8px 8px 8px 0;
            border: none;
            background-color: black;
            color: white;
            border-radius: 16px;
        }

            .side_top_sofware,
            .side_top_computer {
                width: 162px;
                height: 32px;
                margin: 8px 8px 8px 0;
                color: black;
                background-color: rgb(230, 230, 230);
                padding: 0 12px;
                border: 1px solid rgb(192, 192, 192);
                border-radius: 16px;
            }
            
            .side_top_computer {
                width: 180px;
            }

    .side-vids {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

        .side_preview {
            display: flex;
            flex-direction: row;
            height: 94px;
            width: 402px;
            margin-bottom: 10px;
        }

            .side_left {
                width: 168px;
                position: relative;
            }

                .side_img {
                    width: 168px;
                    height: 94px;
                    object-fit: contain;
                }

                .side_time {
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    padding: 3px 4px;
                    color: white;
                    background-color: black;
                    font-size: 12px;
                    font-weight: 500;
                }

            .side_right {
                width: 226px;
                padding-left: 10px;
                position: relative;
            }

                .side_right_title {
                    font-size: 14px;
                    margin-bottom: 4px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .side_right_autor,
                .side_right_stats {
                    color: rgb(96, 96, 96);
                    font-size: 12px;
                    line-height: 18px;
                    position: absolute;
                }

                    .side_right_autor {
                        bottom: 25px
                    }

                    .side_right_stats {
                        bottom: 5px;
                    }

                    .side_right_dot {
                        margin: 0 4px 0 4px;
                    }

    .comments {
        display: block;
        margin: 20px 0 0 50px;
        width: 972.8px;
    }

        .comments_count-add {
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            margin: 24px 0 32px 0;
            width: 100%;
            height: 115.7px;
        }

            .comments_count_sort {
                display: flex;
                align-items: center;
                vertical-align: middle;
                flex-direction: row;
                margin-bottom: 24px;
            }

                .comments_count {
                    font-size: 16px;
                    font-weight: 400;
                    margin-right: 32px;
                }

                .comments_sort {
                    font-size: 14px;
                    font-weight: 500;
                }

        .comments_add {
            display: flex;
            flex-direction: row;
        }

            .comments_my_avatar_img {
                height: 40px;
                width: 40px;
                border-radius: 20px;
            }

            .comments_input {
                border: none;
                border-bottom: 2px solid rgb(192, 192, 192);
                width: 100%;
                height: 25px;
                padding-bottom: 4px;
                background-color: rgb(249, 249, 249);
                margin: 0 0 0 10px;
            }

                .comments_input::placeholder {
                    border: none;
                }

                
        .comments_all {
            display: flex;
            flex-direction: column;
        }

            .comments_comment {
                display: flex;
                flex-direction: row;
                width: 920px;
                height: 166px;
            }

                .comments_photo {
                    height: 40px;
                    width: 40px;
                    object-fit: contain;
                    border-radius: 20px;
                }

                .comments_autor_data {
                    display: flex;
                    flex-direction: row;
                }

                    .comments_autor {
                        font-size: 13px;
                        color: black;
                        font-weight: 500;
                        padding-right: 3px;
                    }

                    .comments_data {
                        font-size: 12px;
                        color: rgb(96, 96, 96);
                    }

                .comments_contain {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 8px;
                }

                .comments_more {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.661);
                    margin-top: 4px;
                    text-decoration: none;
                    cursor: pointer;
                    width: 70px;
                }

                    .comments_more:hover {
                        text-decoration: underline;
                    }

                .comments_right_side {
                    margin-left: 16px;
                }