@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
	display: none;
}
html::-webkit-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@layer base {
	#root {
		@apply dark:bg-black dark:text-white;
	}
	main button {
		/* dark theme */
		@apply dark:active:bg-black-1 dark:text-gray-white dark:hover:bg-black-2 dark:bg-black-1;

		/* light theme */
		@apply active:bg-white-3 text-gray-white hover:bg-white-2 bg-white-1;

		/* padding */
		@apply pc:px-[1.6vw] px-[1rem];
	}
	button {
		@apply text-[1.6rem] font-bold pc:text-[1.6vw] whitespace-nowrap rounded-md transition-all;
	}

	/* text */
	p {
		@apply text-[1.4rem] sm:text-[1.2rem] md:text-[1.4rem] pc:text-[1.4vw];
	}

	h1 {
		@apply text-[6rem] sm:text-[3.4rem] pc:text-[6vw];
	}
	h2 {
		@apply text-[4rem] mb-[1rem] pc:text-[4vw];
	}
	h3 {
		@apply text-[2rem] pc:text-[1.8vw];
	}

	a {
		@apply underline underline-offset-2;
	}
	li {
		@apply list-none;
	}
}
