.sidebar {
    display: flex;
    flex-direction: column;

    position:fixed;
    top:57px;
    left: 0;
    bottom: 0;

    width: 72px;
    background-color: white;

    font-size: 10px;

    z-index: 1001;
}
    .sidebar_button {
        height: 74px;

        
        flex-direction: column;
        line-height: 1.5;
        
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        vertical-align: middle;
    }
        .sidebar_button:hover {
            background-color: rgb(214, 214, 214);
        }
    .sidebar_img {
        width: 24px;
        height: 24px;
        padding-bottom: 3px;
    }