.comments {
    display: inline-block;
    margin: 20px 0 0 50px;
    width: 972.8px;
}

    .comments__count-add {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        margin: 24px 0 32px 0;
        width: 100%;
        height: 115.7px;
    }

        .comments__count-sort {
            display: flex;
            align-items: center;
            vertical-align: middle;
            flex-direction: row;
            margin-bottom: 24px;
        }

            .comments__count {
                font-size: 16px;
                font-weight: 400;
                margin-right: 32px;
            }

            .comments__sort {
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
            }

    .comments__add {
        display: flex;
        flex-direction: row;
    }

        .comments__my-avatar-img {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }

        .comments__input {
            border: none;
            border-bottom: 2px solid rgb(192, 192, 192);
            width: 100%;
            height: 25px;
            padding-bottom: 4px;
            background-color: rgb(245, 245, 245);
            margin: 0 0 0 10px;
        }

            .comments__input::placeholder {
                border: none;
            }

            
    .comments__all-comments {
        display: flex;
        flex-direction: column;
    }

        .comments__comment {
            display: flex;
            flex-direction: row;
            width: 920px;
            height: 166px;
        }

            .comments__photo {
                height: 40px;
                width: 40px;
                object-fit: contain;
                border-radius: 20px;
                cursor: pointer;
            }

            .comments__right-side {
                margin-left: 16px;
            }
                .comments__autor-date {
                    display: flex;
                    flex-direction: row;
                }
                    .comments__autor {
                        font-size: 13px;
                        color: black;
                        font-weight: 500;
                        padding-right: 3px;
                        cursor: pointer;
                    }
                    .comments__date {
                        font-size: 12px;
                        color: rgb(96, 96, 96);
                    }

                .comments__contain {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 8px;
                }
                    .comments__more {
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.661);
                        margin-top: 4px;
                        text-decoration: none;
                        cursor: pointer;
                        width: 70px;
                    }

                        .comments__more:hover {
                            text-decoration: underline;
                        }

                .comments__stats {
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                }
                    .comments__reply-div {
                        padding: 8px 16px;
                    }
                        .comments__reply {
                            font-size: 12px;
                            color: rgb(96, 96, 96);
                            font-weight: 700;
                            cursor: pointer;
                        }
                    .comments__autor-img {
                        height: 14px;
                        width: 14px;
                        border-radius: 7px;
                        margin: 10px;
                    }
                    .comments__likes-count {
                        margin-right: 8px;
                        font-size: 12px;
                        color: rgb(96, 96, 96);
                    }

                .comments__replies {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    vertical-align: middle;
                    color: rgb(6, 95, 212);
                    cursor: pointer;
                }
                    .comments__triangle {
                        margin: 0 2px 0 0;
                    }
                    .comments__replies-img {
                        height: 24px;
                        width: 24px;
                        border-radius: 12px;
                        object-fit: contain;
                    }
                    .comments__dot {
                        width: 8px;
                    }
                    .comments__replies-count {
                        font-size: 14px;
                        font-weight: 700;
                        padding: 10px 10px;
                    }