.searchbar {
    height: 35px;
    width: 358px;
    
    color: rgb(204, 204, 204);

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(204, 204, 204);
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 57px;

}

.header_left_side {
    display: flex;

    width: 200px;

    align-items: center;
}

.header_center {
    display: flex;
    flex: 1;
    max-width: 470px;
    
    align-items: center;

    background-color: antiquewhite;
}

.header_right_side {
    width: 182px;
}