.about-me {
    position: relative;
    height: 850px;
    display: flex;
    flex-direction: column;
}

.about-me__img {
    height: 747px;
    width: 610px;
    left: 64px;
    top: 100px;
    border-radius: 0px;
    position: absolute;
}

.about-me__right-side {
    text-align:start;
    display: flex;
    flex-direction: column;
    right: 64px;
    left: 760px;
    position: absolute;
    margin-top: 270px;
    .about-me__about-me {
        font-weight: 700;
        font-size: 48px;
    }
    .about-me__text {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
    }
}




