.sidebar {
    display: flex;
    flex-direction: column;

    position:fixed;
    top:57px;
    left: 0;
    bottom: 0;

    width: 72px;
    background-color: white;

    
}

.sidebar_img {
    width: 24px;
    height: 24px;
}