.all_vids_grid {
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:16px;
    padding: 24px;
    padding-left: 92px;
    background-color: rgb(246, 246, 246);
}



.vid_preview_div {
    width: 300px;
    vertical-align: top;
}
    .thumbnail_div {
        margin-bottom: 12px;
        position: relative;
    }
        .thumbnail {
            width:100%;
        }
        .vid_time {
            background-color: black;
            color: white;
            position: absolute;
            height: 22;
            bottom: 14px;
            right: 6px;
            font-size: 12px;
            padding: 2px 4px;
            border-radius: 2px;
            font-weight: 500;
        }
    .vid_info_grid {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
        .channel_pic_div {
            width: 50px;

            display: inline-block;
            position: relative;

            vertical-align: top;
        }
        .channel_pic {
            width: 40px;
            border-radius: 50px;
        }

            .autor-tooltip-div {
                position: absolute;
                display: flex;
                flex-direction: row;
                background-color: white;
                width: 200px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.307);
                height: 70px;
                align-items: center;
                vertical-align: middle;
                pointer-events: none;
                opacity: 0;
            }
                .channel_pic_div:hover .autor-tooltip-div {
                    opacity: 1;
                }
                .tooltip-img-div {
                    width: 65px;
                    display: flex;
                    vertical-align: middle;
                }
                .tooltip-stats-div {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                }
                    .tooltip-autor {
                        font-weight: 700;
                        font-size: 15px;
                    }
                    .tooltip_stats {
                        font-weight: 500;
                        font-size: 13px;
                        color: rgba(73, 73, 73, 0.718);
                    }
            .tooltip-channel_pic {
                width: 45px;
                height: 45px;
                border-radius: 22.5px;
                margin-left: 10px;
                object-fit: contain;
            }

        .vid_info_div {
            flex:1;
            
            display: inline-block;
        }
            .vid_title {
                font-size: 14px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 12px;
                line-height: 20px;
                text-decoration: none;
                color: black;

            }
            .vid_autor {
                font-size: 12px;
                color: rgb(96 96 96);
                margin-top: 8px;
                margin-bottom: 4px;
                font-weight: 400;
            }
            .vid_autor_link {
                text-decoration: none;
            }
            .vid_stats {
                color: rgb(96 96 96);
                margin-bottom: 16px;
                font-size: 12px;
                font-weight: 400;
            }