@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 7000px;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(20 20 20);
}

*:focus {
	outline: none;
	border: none;
}
