/*color variables*/
$blue-color:#F5FCFF;
$violet-color:#5E3BEE;
$pink-color:#E62872;
$green-color:#006B6A;
$gray-color: #2829388C;
/*mixin`s*/
@mixin align {
    display: flex;
    vertical-align: middle;
    align-items: center;
}