@import "../variables/variables.scss";

.header {
    height: 90px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    left: 0;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

    .header-container {
        position: relative;
        height: 52px;
        width: 1312px;
        margin:19px 0;
    }

.header__left-side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    .header__logo {
        position: absolute;
        left: 0;
        top: 11px;
        bottom: 11px;
        height: 30px;
        width: 140px;
        cursor: pointer;
    }
}

.header__center {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 14px;
    bottom: 14px;
    left: 480px;
    right: 468px;
    font-size: 16px;
    gap: 32px;
    .header__Home {
        color: #5E3BEE;
        cursor: pointer;
    }
    .header__Portfolio {
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .header__About-me {
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
    .header__Testimonials {
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}
.header__right-side {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 1184px;
    .header__button {
        width: 128px;
        height: 52px;
        padding: 14px 0;
        align-items: center;
        vertical-align: middle;

        border: 2px solid #5E3BEE;
        border-radius: 4px;

        color: #5E3BEE;
        background-color: white;

        font-size: 16px;
        font-weight: 500;

        cursor: pointer;

        transition: background-color 0.15s,
        color 0.10s;


        &:hover {
            background-color: $violet-color;
            color: white;
        }
    }
}