.header {
    z-index: 1000;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    border: none;
    margin-bottom: 20px;
    background-color: white;
    opacity: 0.99;
}



.header__left-side {
    display: flex;
    width: 200px;
    align-items: center;
}
    .header__hamb-menu {
        height: 24px;
        width: 24px;
        margin: 0 24px 0 24px;
        cursor: pointer;
    }
    .header__yt-img {
        height: 20px;
        width: 90px;
        cursor: pointer;
    }
    .header__yt-logo-div {
        position: relative; 
    }
    .header__country-code-div {
        position: absolute;
        top: -6px;
        right: -15px;
        font-size: 11px;
        color: rgb(141, 141, 141);
    }



.header__center {
display: flex;
flex: 1;
max-width: 650px;
align-items: center;
justify-content: start;
margin-left: 30px;
}

    .header__searchbar {
        height: 36px;
        width: 0;
        min-width: 0;
        flex: 1;
        color: rgb(0, 0, 0);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid rgb(192, 192, 192);
        padding: 1px 2px 1px 6px;
        font-size: 16px;
        box-shadow: inset 0px 0px 3px rgb(238, 238, 238);
        position:relative;
    }

    .header__search-button {
        display: flex;
        align-items: center;
        vertical-align: middle;
        height: 40px;
        width: 64px;
        margin-right: 8px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 1px solid rgb(204, 204, 204);
        border-left: none;
        background-color: rgb(247, 247, 247);
        cursor: pointer;
        position:relative;
    }
        .header__search-img {
            width: 24px;
            height: 24px;
            margin-left: 13px;
        }
            .header__search-button .header__tooltip {
                position: absolute;
                background-color: rgba(96, 96, 96, 0.9);
                color:white;
                padding: 8px;
                font-size: 12px;
                bottom:-50px;
                border-radius: 2px;
                opacity: 0;
                cursor:default;
                transition: opacity 0.10s;
                pointer-events:none;
            }

    .header__mic-button {
        display: flex;
        vertical-align:middle;
        align-items:center;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        background-color: rgb(248, 248, 248);
        cursor: pointer;
        flex-direction: column;
    }
        .header__mic-img {
            height: 24px;
            margin-top: 6px;
        }
        .header__mic-button .header__tooltip {
            position: absolute;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            bottom:-40px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events:none;
        }



.header__right-side {
    display: flex;
    align-items: center;
    justify-content:space-between;
    vertical-align: middle;
    width: 145px;
    margin: 0px 24px 0px 29px;
}
    .header__upload-div{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
        .header__upload-div .header__tooltip {
            position: absolute;
            bottom:-50px;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events: none;
        }

    .header__notifications-div {
        display: flex;
        align-items: center;
        vertical-align: middle;
        position:relative;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
        .header__notifications-div .header__tooltip {
            position: absolute;
            bottom:-50px;
            background-color: rgba(96, 96, 96, 0.9);
            color:white;
            padding: 8px;
            font-size: 12px;
            border-radius: 2px;
            opacity: 0;
            cursor:default;
            pointer-events: none;
        }
        .header__notifications-count {
            position:absolute;
            background-color: rgb(204, 0, 0);
            top: -3px;
            right: -7px;
            color: white;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            padding: 2px 5px;
            border-radius: 10px;
        }

    .header__channel-img {
        height: 32px;
        width: 32px;
        border-radius: 16px;
        cursor: pointer;
    }



.header__upload-img,
.header__notifications-img,
.header__apps_img {
    height: 24px;
    width: 24px;
}

.header__search-button:hover .header__tooltip,
.header__notifications-div:hover .header__tooltip,
.header__upload-div:hover .header__tooltip,
.header__mic-button:hover .header__tooltip {
    opacity: 1;
}