@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* theme */
	h2{
		@apply dark:text-white;
	}
	input,
	textarea {
		@apply dark:bg-white;
		@apply dark:bg-[rgb(49,64,85)];
		@apply border-gray-500;
	}
	#root {
		@apply bg-black;
		@apply h-[2300px];
	}
	/* reset */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply m-0;
		@apply p-0;
		@apply text-center;
	}

	/* bold */
	h1,
	h2,
	h3 {
		@apply font-bold;
	}

	/* text */
	h1 {
		@apply text-[3rem];
		@apply sm:text-[3.4rem];
		@apply md:text-[6vw];
		@apply leading-[4rem];
		@apply pc:leading-[6vw];
	}

	h2 {
		@apply text-[2.6rem];
		@apply sm:text-[3rem];
		@apply md:text-[4rem];
		@apply pc:text-[4vw];
	}

	h3 {
		@apply text-[1.4rem];
		@apply sm:text-[1.6rem];
		@apply md:text-[1.8rem];
		@apply pc:text-[1.8vw];
	}

	h4 {
		@apply text-[1rem];
		@apply sm:text-[1.2rem];
		@apply md:text-[1.4rem];
		@apply pc:text-[1.2vw];
	}

	a {
		@apply underline;
		@apply underline-offset-2;
	}

	img {
		@apply object-cover;
	}
	input:focus,
	textarea:focus {
		@apply outline-none;
		@apply border-gray-400;
		@apply border-solid;
		@apply border-[1.5px];
		@apply box-border;
	}

	button:hover {
		@apply pc:scale-125;
		@apply pc:duration-75;
	}
	button:active {
		@apply pc:scale-100;
		@apply pc:duration-[50];
	}
}

#root {
	font-family: 'Roboto', sans-serif;
}
