@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#root {
		@apply h-[2300px];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply m-0;
		@apply p-0;
		@apply text-center;
	}

	h1,
	h2,
	h3 {
		@apply font-bold;
	}

	/* text */
	p {
		@apply text-[1rem];
		@apply sm:text-[1.2rem];
		@apply md:text-[1.4rem];
		@apply pc:text-[1.2vw];
	}
	h1 {
		@apply text-[3rem];
		@apply sm:text-[3.4rem];
		@apply md:text-[6vw];
		@apply leading-[4rem];
		@apply pc:leading-[6vw];
	}

	h2 {
		@apply text-[2.6rem];
		@apply sm:text-[3rem];
		@apply md:text-[4rem];
		@apply pc:text-[4vw];
	}

	h3 {
		@apply text-[1.4rem];
		@apply sm:text-[1.6rem];
		@apply md:text-[1.8rem];
		@apply pc:text-[1.8vw];
	}

	h4 {
		@apply text-[1rem];
		@apply sm:text-[1.2rem];
		@apply md:text-[1.4rem];
		@apply pc:text-[1.2vw];
	}
	input,
	textarea {
		@apply p-1;
		@apply text-[1.2rem];
		@apply sm:text-[1.4rem];
		@apply md:text-[1.6rem];
		@apply pc:text-[1.6vw];
		@apply w-[100%];
		@apply rounded-md;
	}
	textarea {
		@apply pc:rounded-br-none;
		@apply rounded-br-md;
	}

	a {
		@apply underline;
		@apply underline-offset-2;
	}

	img {
		@apply object-cover;
	}
	button:hover {
		@apply pc:scale-125;
		@apply pc:duration-75;
	}
	button:active {
		@apply pc:scale-100;
		@apply pc:duration-[50];
	}

	button {
		@apply w-11;
		@apply h-11;
		@apply pc:w-6;
		@apply pc:h-6;

		@apply text-[1.2rem];
		@apply sm:text-[1.4rem];
		@apply md:text-[1.6rem];
		@apply pc:text-[1.2vw];
	}

	input:focus,
	textarea:focus {
		@apply outline-none;
	}
}

#root {
	font-family: 'Roboto', sans-serif;
}
